<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Hotel</display-name>
	<servlet>
		<servlet-name>JavaServlet</servlet-name>
		<servlet-class>by.epam.hotel.controller.Controller</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Locale</servlet-name>
		<jsp-file>/jsp/common/local.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Loginlogout</servlet-name>
		<jsp-file>/jsp/common/loginlogout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaServlet</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Locale</servlet-name>
		<url-pattern>/locale</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loginlogout</servlet-name>
		<url-pattern>/loginlogout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/jsp/error/error.jsp</location>
	</error-page>
</web-app>